@model SchoolWeb.Models.CreateRankVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateRankVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="OrganizationID" class="form-control" />
                <span asp-validation-for="OrganizationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Schools" class="control-label"></label>
                    @Html.DropDownListFor(q => q.Schools, new SelectList(Model.Schools, "Value", "Text"), "Select School", new { @class = "form-control" })
                    <span asp-validation-for="Schools" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
