@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                </form>
            </li>
            if (User.IsInRole("ExamBody"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index">View profile</a>
                </li>
            }

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register"> <i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login"> <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </li>
        }
    </ul>


