@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Welcome to </h1>
    <h1 class="display-2" Welcome to> <a><i class="fa fa-dot-circle-o" aria-hidden="true"></i> PinPoint</a></h1>
    <p>
        
    </p>

    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("ExamBody"))
        {
<div class="row">

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Rank Management</h5>
                <p class="card-text">
                    This option allows for custom tags to be created.
                    These tags are used to provide performance grading or status of a school
                </p>

                <a class="btn btn-primary" asp-area="" asp-controller="Rank" asp-action="Index">VIEW RANKING OPTIONS</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">School Management</h5>
                <p class="card-text">
                    This option will allow for the management of schools you want to enter in the system. Click link below to see
                    how you can manage the schools you enter into the system
                </p>

                <a class="btn btn-primary" asp-area="" asp-controller="School" asp-action="Index">VIEW SCHOOL OPTIONS</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Student Management</h5>
                <p class="card-text">
                    This area provides options to manage the records of students within the system click link below to see option.  
                </p>

                <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Index">VIEW STUDENT OPTIONS</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Placement Management</h5>
                <p class="card-text">
                    This area will be use to management placement options for student in the matching schools. 
                    Click link below to view these options.
                </p>

                <a class="btn btn-primary" asp-area="" asp-controller="Placement" asp-action="Index">VIEW PLACEMENT OPTIONS</a>
            </div>
        </div>
    </div>

</div>
        }
    }

</div>
